:root {
    --width-left: 50%;
    --width-right: 50%;
    --height-header: 8vw;
}

html{
    font-size: 0.9vw;
}

h1 {
    font-size: 1.5rem;
    padding: 1.3rem;
}

/* -------> Left Panel <------- */

.leftpanel {
    width: var(--width-left);
    height: 100%;
}

.header {
    height: var(--height-header);
}

.filter input {
    width: 40%;
}

/* -------> Left Panel: toc <------- */

#toc {
    width: 100%;
    height: calc(100vh - var(--height-header));
    top: var(--height-header);
    left: 0;
    padding-bottom: 2rem;
}

.btn-group {
    width: 90%;
}
.btn-group:hover { background-color: var(--color-darkgray); }

.btn {
    padding: 0.7rem;
    transition: color 0.3s ease;
}

.hovercolor:hover {
    color: var(--color-red);
}

/* -------> Right Panel <------- */

.rightpanel {
    width: var(--width-right);
    height: 100%;
    left: var(--width-left);
}

.desc {
    width: 100%;
    height: var(--height-header);
    padding: 2% 15% 0 0;
    text-align: left;
}

.linkp:hover {
    text-decoration: underline;
}

/* -------> Right Panel: ranlist <------- */

.ranlist {
    height: calc(100vh - var(--height-header));
    width: 100%;
    top: var(--height-header);
}

#tr-1 {
    position: sticky;
    top: 0;
    padding: 0 0 1rem 0;
    text-align: center;
    background-color: white;
    z-index: 10;
}

.songitem:hover {
    background-color: #eeeeee;
}

.thumbnail {
    width: 40%;
}


.desc { animation: fadeinr 2s ease 0s 1; }
