:root {
    --color-default: black;
    --color-red: #C03945;
    --color-gray: #f9f9f9;
    --color-darkgray: #f0f0f0;
    --width-left: 50%;
    --width-right: 50%;
    --height-header: 8vw;
    /* --height-toc: calc(~"100vh - @{--height-header}"); */
}

* {
    box-sizing: border-box;
    font-family: 'M PLUS 1p', sans-serif;
}

html{
    font-size: 0.9vw;
    height: 100%;
    width: 100%;
    color: var(--color-default);
}

/* body */
body {
    height: 100%;
    width: 100%;
    text-align: center;
    border: none;
    margin: 0;
    padding: 0;
    background-color: white;
}

h1 {
    font-size: 1.5rem;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: inherit;
    padding: 1.3rem;
}

button {
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
    color: inherit;
    background-color: inherit;
    cursor: pointer;
    padding: 1rem 1rem;
}

input {
    font-family: inherit;
    font-size: inherit;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* opacity: 90%; */
}

/* -------> Left Panel <------- */

.leftpanel {
    width: var(--width-left);
    height: 100%;
    position: fixed;
    top: 0;
    margin: 0;
}

.header {
    height: var(--height-header);
    width: 100%;
    position: absolte;
    margin: 0;
    background-color: white;
    z-index: 10;
}

.filter {
    width: 100%;
}

.filter input {
    outline: none;
    width: 20rem;
    border: 0.1rem solid var(--color-default);
    border-radius: 0.3rem;
    padding-left: 0.6rem;
    /* ::placeholder { */
    /*     color: var(--color-default); */
    /* } */
    display: inline;
    vertical-align: middle;
    opacity: 1;
    transition: opacity 0.3s;
}

.yrmo {
    border-radius: 0.3rem;
    opacity: 1;
    background-color: var(--color-gray);
    text-align: center;
    padding: 0.2rem 0.5rem;
    display: inline;
    vertical-align: middle;
    transition: opacity 0.3s ease;
}
.yrmo:hover { opacity: 1; }

/* -------> Left Panel: toc <------- */

#toc {
    width: 100%;
    height: calc(100vh - var(--height-header));
    position: absolute;
    /* left: 0; */
    top: var(--height-header);
    margin: 0;
    padding-bottom: 2rem;
    background-color: white;
    display: block;
    overflow: auto;
}

.btn-group {
    display: table;
    margin: 0 auto;
    width: 90%;
    text-align: left;
    padding: 0;
}
.btn-group:hover { background-color: var(--color-darkgray); }

.white-background { background-color: white; }
.gray-background { background-color: var(--color-gray); }

.btn {
    vertical-align: middle;
    text-align: left;
    padding: 0.7rem;
    transition: color 0.3s ease;
}

.hovercolor:hover {
    color: var(--color-red);
}

.left { float: left; }
.right { float: right; }

/* -------> Right Panel <------- */

.rightpanel {
    width: var(--width-right);
    height: 100%;
    position: fixed;
    top: 0;
    left: var(--width-left);
    margin: 0;
}

.desc {
    width: 100%;
    height: var(--height-header);
    position: absolute;
    top: 0;
    background-color: white;
    padding: 2% 15% 0 0;
    text-align: left;
}

.linkp {
    color: var(--color-red);
    text-decoration: none;
}
.linkp:hover {
    text-decoration: underline;
}

/* -------> Right Panel: ranlist <------- */

.ranlist {
    height: calc(100vh - var(--height-header));
    width: 100%;
    position: absolute;
    top: var(--height-header);
    border: none;
    overflow: auto;
    display: block;
    background-color: white;
    padding-bottom: 2rem;
}

#tr-1 {
    position: sticky;
    top: 0;
    padding: 0 0 1rem 0;
    text-align: center;
    background-color: white;
    z-index: 10;
}

.ranlist table {    
    border-collapse: collapse;
    width: 100%;
    /* opacity: 0.95; */
    table-layout: absolute;
    margin-bottom: 0;
    transition: opacity 0.3s;
}
.ranlist table:hover {
    opacity: 1.0;
}
.songitem {
    width: 100%;
    text-align: left;
    background-color: inherit;
    color: var(--color-default);
    outline: none;
    padding: 0;
    transition: background-color 0.3s ease;
    /* border-top: 1px dashed var(--color-default) */
}
.songitem:hover {
    background-color: #eeeeee;
}
.songtext {
    text-decoration: none;
    color: inherit;
}

.thumbnail {
    width: 40%;
}


/* -------> footer <------- */

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    text-align: center;
    z-index: 10;
}


@keyframes fadeint {
    from { transform: translateY(-5%); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes fadeinb {
    from { transform: translateY(5%); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes fadeinl {
    from { transform: translateX(-2%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

@keyframes fadeinr {
    from { transform: translateX(5%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

@keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
}

.header, #tr-1 { animation: fadeint 2s ease 0s 1; }
#toc { animation: fadeinb 2s ease 0s 1; }
.desc { animation: fadeinr 2s ease 0s 1; }
img, .songtext { animation: fadeinl 2s ease 0s 1; }

