:root {
    --width-left: 100%;
    --width-right: 100%;
    --height-header: 15%;
}

html{
    font-size: 2vw;
    /* overflow-y: scroll; */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1 {
    font-size: 1.5rem;
    padding: 1.3rem;
}

button {
    padding: 1rem 1rem;
}

/* -------> Left Panel <------- */

.leftpanel {
    width: var(--width-left);
    height: 100%;
    position: fixed;
    top: 0;
    margin: 0;
}


#body {
    width: 100%;
    height: var(--height-body);
    overflow: auto;
    margin-top: var(--height-header);
    z-index: 200;
    position: fixed;
    padding: 0;
}
#toc {
    height: var(--height-content-block-up);
    width: var(--width-toc);
    text-aglin: center;
    position: fixed;
    display: block;
    overflow: auto;
    background-color: white;
}
#ranlist {
    height: var(--height-content-block-down);
    width: var(--width-toc);
    /* margin-top: var(--position-songlist); */
    margin-top: 0vh;
    position: fixed;
    border: none;
    overflow: auto;
    display: block;
    background-color: #f7f7f7;
}
#songlist {
    border-collapse: collapse;
    width: 100%;
    opacity: 1.0;
    table-layout: fixed;
    margin-bottom: 15vh;
}
.songitem {
    height: var(--height-list);
    width: 100%;
    text-align: left;
    background-color: inherit;
    color: var(--color-default);
    outline: none;
    padding: 0;
    /* border-top: 0.1rem dashed #cccccc; */
    border-bottom: 0.1rem dashed #cccccc;
}
.songitem:hover {
    background-color: var(--color-default);
    color: white;
}

.songtext {
    text-decoration: none;
    font-size: var(--size-font-default);
    color: inherit;
}

/* #tr-1container { */
/*     height: var(--height-song-title); */
/*     width: 100%; */
/*     position: fixed; */
/*     margin-left: 0; */
/*     margin-top: var(--height-content-block-up); */
/*     background-color: #cccccc; */
/*     outline: none; */
/*     padding: 0; */
/*     border: none; */
/* } */

/* #tr-1 { */
/*     height: var(--height-song-title); */
/*     width: 100%; */
/*     position: fixed; */
/*     margin-left: 0; */
/*     margin-top: 0.2vh; */
/*     background-color: inherit; */
/*     color: var(--color-default); */
/*     outline: none; */
/*     padding: 0; */
/*     border: none; */
/* } */

#tr-1container {
    height: var(--height-footer);
    width: var(--width-toc);
    bottom: 0;
    margin-left: 0;
    background-color: white;
    position: fixed;
    text-align: center;
    z-index: 200;
}
#tr-1 {
    height: var(--height-footer);
    width: 100%;
    background-color: var(--color-default);
    text-align: center;
    /* z-index: 220; */
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0;
    color: white;
    font-size: var(--size-font-footer);
}

/* button */
button {
    font-family: courier;
    font-size: var(--size-font-default);
    outline: none;
    border: none;
    background-color: inherit;
    cursor: pointer;
    padding: 0;
}
.btn-group {
    height: var(--height-btn);
    width: 100%;
    margin: auto;
    text-align: center;
    /* border-bottom: 0.1rem dashed #cccccc; */
    border-top: 0.1rem dashed #cccccc;
}
.btn-group:hover { background-color: #cccccc; }

.white-background { background-color: white; }
.gray-background { background-color: #f2f2f2; }
.textalignleft { text-align: left; }
.textaligncenter { text-align: center; }

.btn {
    height: var(--height-btn);
    width: 10.5rem;
    float: left;
    display: block;
    opacity: 1.0;
    padding-left: 0.5rem;
}
.leftfloat { float: left; }

.txttoblock-nico { color: var(--color-nico);
                   border-right: 0.1rem dashed #cccccc; }
.txttoblock-song { color: var(--color-default); }

.btn-invisible {
    height: var(--radius-btn);
    width: var(--radius-btn);
    float: left;
    background-color: white;
    opacity: 0.2;
    border-radius: 50%;
    margin-top: 0.4rem;
    padding: 0;
}
.btn-invisible:hover { opacity: 1.0; }

.btn-invisible-right {
    height: var(--radius-btn);
    width: var(--radius-btn);
    background-color: white;
    opacity: 1.0;
    border-radius: 50%;
    float: right;
    margin-right: 0.5rem;
    padding: 0;
    vertical-align: middle;
    margin-top: 0.6rem;
}

.whiteblock-nico { color: var(--color-nico); }
.whiteblock-song { color: var(--color-default); }

.fadetxt {
    height: var(--height-btn);
    width: 33rem;
    color: var(--color-default);
    opacity: 1.0;
    margin-left: 0;
    padding: 0;
    padding-left: 1rem;
    cursor: default;
    float: left;
}

#container {
    height: var(--height-footer);
    width: var(--width-toc);
    bottom: 0;
    margin-left: 0;
    background-color: white;
    position: fixed;
    text-align: center;
    z-index: 200;
}
#clipboard {
    height: var(--height-footer);
    width: 100%;
    background-color: var(--color-default);
    text-align: center;
    /* z-index: 220; */
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0;
    color: white;
    font-size: var(--size-font-footer);
}

#iconholder {
    height: 54vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding: 20vh 0;
    margin: auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  opacity: 90%;
}

.thumbnail {
    width: 50%;
}

.btnback {
    height: var(--radius-btn);
    width: 20%;
    border-top: 0.1rem dashed var(--color-default);
    border-bottom: 0.1rem dashed var(--color-default);
    color: var(--color-default);
    opacity: 0.95;
    /* background-color: white; */
    text-align: center;
    padding: auto 0;
    font-size: 2.4vh;
    position: relative;
    display: inline;
    vertical-align: middle;
}
