html{
    font-size: 2vw;
    overflow-y: scroll;
}

/* colors */
:root {
    --color-default: #484848;
    --color-nico: #0C457D;
    --color-song: #D27979;
    --width-toc: 100%;
    --margin-toc: 0%;
    --size-font-default: 1.82rem;
    --size-font-footer: 1.9vh;
    --size-font-header: 2.5vh;
    --height-filter-div: 5.4vh;
    --height-filter: 2.9vh;
    --height-btn: 4.5rem;
    --height-list: 4.2rem;
    --height-song-title: 3.0rem;
    --radius-btn: 4vh;
    --height-footer: 3vh;
    --height-header: 11vh;
    --height-body: 86vh;
    --height-content-block-up: 32vh;
    --height-content-block-down: 54vh;
    --margin-title-text: 1vh;
}

/* body */
body {
    height: 100vh;
    width: 100%;
    font-family: courier,Osaka;
    font-size: var(--size-font-default);
    background-color: white;
    color: var(--color-default);
    text-align: center;
    border: none;
    margin: 0;
    padding: 0;
}

/* text */
h1 { font-size: var(--size-font-header); display: block; }
p { font-size: var(--size-font-default); }

#header {
    height: var(--height-header);
    width: var(--width-toc);
    margin: 0;
    position: fixed;
    padding: 0;
    display: block;
    background-color: white;
}
#title {
    height: var(--height-filter-div);
    width: var(--width-toc);
    margin-top: 0;
    text-align: center;
    position: absolute;
    background-color: inherit;
    padding-bottom: 0.3hv;
}
#filter{
    height: var(--height-filter-div);
    width: var(--width-toc);
    display: block;
    margin-top: var(--height-filter-div);
    position: absolute;
    padding-top: 0;
    background-color: inherit;
}
#filterinput {
    outline: none;
    font-family: courier;
    height: var(--height-filter);
    width: 35rem;
    font-size: var(--size-font-header);
    color: #999999;
    opacity: 0.6;
    padding-left: 1rem;
    padding-bottom: -0.1vh;
    border: 0.1rem solid #999999;
    border-radius: 0.3rem;
    margin-top: 0.1vh;
}
#filterinput:hover {
    opacity: 1.0;
}
::placeholder {
    color: #999999;
}
.yrmo {
    height: var(--radius-btn);
    width: var(--radius-btn);
    border-radius: 50%;
    color: #999999;
    opacity: 0.6;
    background-color: #fafafa;
    text-align: center;
    padding: 0;
    font-size: var(--size-font-header);
    margin-left: 0;
    margin-top: 0.1vh;
    position: relative;
}
/* #appmonth { */
/* } */

#body {
    width: 100%;
    height: var(--height-body);
    overflow: auto;
    margin-top: var(--height-header);
    z-index: 200;
    position: fixed;
    padding: 0;
}
#toc {
    height: var(--height-content-block-up);
    width: var(--width-toc);
    text-aglin: center;
    /* margin: auto; */
    position: fixed;
    display: block;
    overflow: auto;
    background-color: white;
}
#ranlist {
    height: var(--height-content-block-down);
    width: var(--width-toc);
    margin-top: var(--height-content-block-up);
    position: fixed;
    border: none;
    overflow: auto;
    display: block;
    background-color: #fafafa;
}
#songlist {
    border-collapse: collapse;
    width: 99.5%;
    opacity: 1.0;
    table-layout: fixed;
    margin-bottom: 15vh;
}
.songitem {
    height: var(--height-list);
    width: 100%;
    text-align: left;
    background-color: inherit;
    color: var(--color-default);
    outline: none;
    padding: 0;
    border: 0.2rem dashed #cccccc;
}
.songitem:hover {
    background-color: var(--color-default);
    color: white;
}
.songitemtitle {
    height: var(--height-song-title);
    width: 100%;
    background-color: #cccccc;
    outline: none;
    padding-left: 1rem;
    border: 0.2rem dashed #cccccc;
}
#tr-1 {
    height: var(--height-song-title);
    position: fixed;
}
.songtext {
    text-decoration: none;
    font-size: var(--size-font-default);
    color: inherit;
}
#tda-1 {
    line-height: var(--height-song-title);
    text-decoration: none;
    font-size: var(--size-font-default);
    color: inherit;
    margin-top: 0;
    margin-bottom: 0;
}

/* button */
button {
    font-family: courier;
    font-size: var(--size-font-default);
    outline: none;
    border: none;
    background-color: inherit;
    cursor: pointer;
    padding: 0;
}
.btn-group {
    height: var(--height-btn);
    width: 100%;
    margin: auto;
    text-align: center;
}
.btn-group:hover { background-color: #f0f0f0; }

.white-background { background-color: #white; }
.gray-background { background-color: #fafafa; }
.textalignleft { text-align: left; }
.textaligncenter { text-align: center; }

.btn {
    height: var(--height-btn);
    width: 12rem;
    float: left;
    display: block;
    opacity: 1.0;
}
.leftfloat { float: left; }

.txttoblock-nico { color: var(--color-nico); }
.txttoblock-nico:hover { background-color: var(--color-nico); color: white; opacity: 1.0; }
.txttoblock-song { color: var(--color-song); }
.txttoblock-song:hover { background-color: var(--color-song); color: white; opacity: 1.0; }

.btn-invisible {
    height: var(--radius-btn);
    width: var(--radius-btn);
    float: left;
    background-color: white;
    opacity: 0.2;
    border-radius: 50%;
    margin-top: 0.4rem;
    padding: 0;
}
.btn-invisible:hover { opacity: 1.0; }

.whiteblock-nico { color: var(--color-nico); }
.whiteblock-song { color: var(--color-song); }

.fadetxt {
    color: var(--color-song);
    height: var(--height-btn);
    width: 37rem;
    opacity: 1.0;
    margin-left: 0.5rem;
    cursor: default;
}

/* clipboard */
#footer {
    height: var(--height-footer);
    width: 100%;
    /* bottom: 0; */
    margin: auto;
    background-color: white;
    text-align: center;
}
#container {
    height: var(--height-footer);
    width: var(--width-toc);
    bottom: 0;
    margin-left: 0;
    background-color: white;
    position: fixed;
    text-align: center;
    z-index: 200;
}
#clipboard {
    height: var(--height-footer);
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
    color: white;
    background-color: var(--color-default);
    text-align: center;
    z-index: 220;
}
#clipboardtxt {
    line-height: var(--height-footer);
    margin-top: 0;
    font-size: var(--size-font-footer);
}

