html{
    font-size:10px;
}

/* colors */
:root {
    --color-default: #484848;
    --color-nico: #0C457D;
    --color-song: #D27979;
}

/* body */
body {
    font-family: courier,Osaka;
    font-size: 1.6rem;
    background-color: inherit;
    color: var(--color-default);
    text-align: center;
    border: none;
}

/* text */
h1 { font-size: 3.6rem; }
h2 { font-size: 1.6rem; }
p { font-size: 1.6rem; }

#header {
    margin-top: -17rem;
    margin-bottom: 0rem;
    height: 17rem;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 200;
}
#body {
    width: 100%;
    overflow: auto;
    margin-top: 17rem;
    z-index: 1;
}

/* button */
button {
    font-family: courier;
    font-size: 1.6rem;
    outline: none;
    border: none;
    background-color: inherit;
    cursor: pointer;
}
.btn-group {
    height: 3.6rem;
    width: 70rem;
    margin: auto;
    text-align: left;
}
.btn-group:hover { background-color: #f0f0f0; }

.white-background { background-color: #white; }
.gray-background { background-color: #fafafa; }
.textalignleft { text-align: left; }
.textaligncenter { text-align: center; }

.btn {
    height: 3.6rem;
    width: 13.4rem;
    float: left;
    display: block;
    opacity: 0.6;
}
.leftfloat { float: left; }

.txttoblock-nico { color: var(--color-nico); transition: color 0.3s; }
.txttoblock-nico:hover { background-color: var(--color-nico); color: white; opacity: 1.0; }
.txttoblock-song { color: var(--color-song); transition: color 0.3s; }
.txttoblock-song:hover { background-color: var(--color-song); color: white; opacity: 1.0; }

.btn-invisible {
    height: 2.8rem;
    width: 2.8rem;
    float: left;
    background-color: white;
    opacity: 0.0;
    border-radius: 50%;
    margin-top: 0.4rem;
    transition: opacity 0.3s;
}
.btn-invisible:hover { opacity: 0.6; }

.whiteblock-nico { color: var(--color-nico); }
.whiteblock-song { color: var(--color-song); }

.fadetxt {
    height: 3.6rem;
    width: 35rem;
    opacity: 0.6;
    margin-left: 0.5rem;
    cursor: text;
}
.fadetxt:hover { opacity: 1.0; }

/* search */

#filterinput {
    outline: none;
    font-family: courier;
    height: 3.6rem;
    width: 30rem;
    margin: auto;
    font-size: 1.6rem;
    color: #999999;
    opacity: 0.6;
    transition: opacity 0.3s;
    padding-left: 1rem;
}
#filterinput:hover {
    opacity: 1.0;
}
::placeholder {
    color: #999999;
}


