[http]
        sslVerify = false
[user]
        name = xjjgww
        email = xjjgww@gmail.com
        github = xjjgww
[core]
        askPass =
        excludesfile = ~/.gitignore
[color]
        ui = always
        branch = always
        status = always
[bash]
        showDirtyState = false